<br>
<section id="register" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form  #login="ngForm" (ngSubmit)="onSubmit(login)" >
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <!--email-->
                <div class="form-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Correo electrónico"
                   [(ngModel)]="new_login.email" #email= "ngModel" required/>
                   <span *ngIf="email.touched && !email.valid" >
                      El correo esta incorrecto debe tener @ & .
                    </span>
                 </div>
                <!--password-->
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña"
                    [(ngModel)]="new_login.password" #password= "ngModel" required/>
                    <span *ngIf="password.touched && !password.valid">
                        El campo de contraseña no puede estar vacio
                      </span>
                </div>
                <!--Boton-->
                <button type="submit" class="btn btn-lg bg-dark letracolor" [disabled] ="!login.form.valid" >Iniciar</button>
                <div class="form-group">
                  <a [routerLink]="['/registro']" class="form-control login-user">Crear cuenta</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


